html,
body {

    font-family: 'Comfortaa', cursive;
    font-size: 1rem;
    margin: 0;
    padding: 0;

}



#nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #D4D4D4;
}

#nav p {
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

#nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;

}

#nav li {
    float: left;
}

#nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}



/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #111;
}

input[type="radio"]{
    line-height:1.6;
  margin: 0 10px 0 10px;
  padding: 0 10px 0 10px;
}


th,
td {
    padding: 15px;
}

#header {
    height: 300px;
    background-color: #DDDDDD;
    margin: 0;
    padding: 0
}

#headertext {
    position: relative;
    top: 40%;


    text-align: center;
}
.answers{
    display: inline-block; 
    position: relative;
    margin-top:-19%
}

.courses {

    text-align: center;
    margin-top: 10%;

    padding: 1%;
    padding-bottom: 3%
}

.column {
    float: left;
    width: 50%;
}

.row {
    margin-bottom: 10%;
}

/* Clear floats after image containers */
.row::after {
    content: "";
    clear: both;
    display: table;
}

#box2 {

    margin-left: 27%;
    height: 200px;
    width: 300px;
    background-color: #f2f2f2;



}



.footer {
    background-color: #D4D4D4;
    display: flex;
}

.logo {
    width: 20%;
}

#footer .column {
    width: 27%;
}

#background1 {
    background-color: #c5c5c5;
    display: inline-block;
}

@media screen and (max-width: 600px) {
    .column {
        width: 100%;
    }
.answers{
    margin-top:0;
}
    #box2 {

        margin-left: 5%;
        margin-right: 2%;
        margin-top: 2%;
        height: 200px;
        width: 300px;
        background-color: #f2f2f2;



    }

    td,th{
        display:block
    }
}



@media screen and (min-width: 768px) {

    #box2 {

        margin-left: 22%;
        height: 200px;
        width: 300px;
        background-color: #f2f2f2;



    }
}

@media screen and (min-width: 1024px) {

    #box2 {

        margin-left: 27%;
        height: 200px;
        width: 300px;
        background-color: #f2f2f2;



    }
}